//colors
$white: #fff;
$green: #18cfab;
$dark-green: #24413e;
$light-blue: #00cbf6;
$blue: #1c2a33;
$footer-blue: #22353f;
$dark-blue: #090f14;
$bg-grey: #3c3c3c;
$black: #1f1f1f;
$light-grey: #d4d4d4;
$grey: #b8b8b8;
$title-grey: #4e4e4e;
$padding-grey: #777777;
$purple: #9c5da5;
$pink: #d67f7f;
$orange: #bb8a36;

//fonts
$font-size-13px: 13px;
$font-size-14px: 14px;
$font-size-35px: 35px;
$font-size-36px: 36px;