.navigation{
    @extend .flex-justify-middle;
    @include media-min(1200) {
        height: 100px;
    }
    @include media-int(992, 1199) {
        height: 100px;
    }
    @include media-int(768, 991) {
        height: 70px;
    }
    @include media-int(576, 768) {
        height: 70px;
    }
    @include media-max(576) {
        height: 50px;
    }
    border-bottom: 1px solid #3b2c3b;
    .burger-holder{
        @include media-min(1200) {
            display: none;
        }
        @include media-int(992, 1199) {
            display: none;
        }
        @include media-int(768, 991) {
            display: none;
        }
        @include media-int(576, 768) {
            display: flex;
            align-items: center;
        }
        @include media-max(576) {
            display: flex;
            align-items: center;
        }
        .search{
            color: $white;
            font-size: 20px;
            transition-duration: 0.4s;
            margin-left: 20px;
            &:hover{
                opacity: 0.7;
            }
        }
    }
    .none{
        @include media-min(1200) {
            display: flex;
        }
        @include media-int(992, 1199) {
            display: flex;
        }
        @include media-int(768, 991) {
            display: flex;
        }
        @include media-int(576, 768) {
            display: none;
        }
        @include media-max(576) {
            display: none;
        }
    }
    .line{
        width: 20px;
        height: 2px;
        background-color: $white;
        margin: 5px;
    }
    .active{
        position: absolute;
        top: 15px;
        right: 15px;
    }
    
    .name{
        color: $white;
        font-size: 13px;
        padding: 8px 0px 0px 5px;
    }
    .nav-ul{
        @extend .flex-middle;
        .nav-li{
            padding: 0px 13px;
            .nav-a{
                color: $white;
                font-size: 13px;
                padding-bottom: 39px;
                transition-duration: 0.4s;
                &:hover{
                    border-bottom: 2px solid;
                    opacity: 0.7;
                }
            }
            .search{
                color: $white;
                font-size: 13px;
                transition-duration: 0.4s;
                padding: 10px 10px 0px 0px;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
}
.burger-button{
    position: absolute;
    z-index: 10;
    top: -5px;
    right: 0;
    background-color: #3b2c3b;
    height: 450px;
    width: 100%;
    display: block;
}
.column{
    flex-direction: column;
}
.margin-20px{
    margin: 20px;
}
.burger-list{
    transition-duration: 0.4s;
    font-size: 18px !important;
    &:hover{
        border: none !important;
        opacity: 0.7;
    }
}