@font-face {
    font-family: 'timesnewroman';
    src: url('../fonts/timesnewroman.eot');
    src: url('../fonts/timesnewroman.eot') format('embedded-opentype'),
         url('../fonts/timesnewroman.woff2') format('woff2'),
         url('../fonts/timesnewroman.woff') format('woff'),
         url('../fonts/timesnewroman.ttf') format('truetype'),
         url('../fonts/timesnewroman.svg#timesnewroman') format('svg');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansBold.woff2') format('woff2'),
         url('../fonts/OpenSansBold.woff') format('woff'),
         url('../fonts/OpenSansBold.ttf') format('truetype'),
         url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSansLight.eot');
    src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
         url('../fonts/OpenSansLight.woff2') format('woff2'),
         url('../fonts/OpenSansLight.woff') format('woff'),
         url('../fonts/OpenSansLight.ttf') format('truetype'),
         url('../fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}