.btn-holder{
    background-color: $white;
    border-radius: 5px;
    transition-duration: 0.6s;
    margin: 0px 10px;
    @include media-min(1200) {
        height: 65px;
    }
    @include media-int(992, 1199) {
        height: 55px;
    }
    @include media-int(768, 991) {
        height: 45px;
    }
    @include media-max(767) {
        height: 35px;
    }
    .btn{
        font-family: 'MontserratBold';
        text-transform: uppercase;
        margin-top: 5px;
        border-radius: 5px;
        font-size: $font-size-13px;
        color: $white;
        border: 2px solid $green;
        background-color: $green;
        transition-duration: 0.6s;
        @include media-min(1200) {
            padding: 25px 30px;
        }
        @include media-int(992, 1199) {
            padding: 20px 25px;
        }
        @include media-int(768, 991) {
            padding: 18px 20px;
        }
        @include media-max(767) {
            padding: 10px 15px;
        }
    }
    &:hover{
        background-color: $green;
        .btn{
            background-color: $white;
            color: $green;
            border-color: $white;
        }
    }
}
